<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>고객 추가 : 입력 확인</title>
  </head>
  <body>
    <form method="post" action="/customer/confirmed">

      <input type="hidden" name="company" value="<%= @company %>" />
      <input type="hidden" name="fullname" value="<%= @fullname %>" />
      <input type="hidden" name="email" value="<%= @email %>" />

      <h3>다음의 정보가 맞습니까? </h3>
      <label>회사명 : </label> <%= @company %> <br />
      <label>성명 : </label> <%= @fullname %> <br />
      <label>메일 주소 : </label> <%= @email %> <br />
      <input type="submit" name="submit" value="등록" />
    </form>
  </body>
</html>
