<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>고객 일람</title>
  </head>
  <body>
    <h3>고객 일람（<%= @offset %> 〜 <%= @offset + @num %>）</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>회사명</th>
        <th>성명</th>
        <th>메일 주소</th>
      </tr>
      <% @results.each do |r| %>
      <tr>
        <% (0..3).each do |i| %>
        <td><a href="/customer/show/<%= r[0] %>"><%= r[i] %></a></td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <% if @offset - @num > 0 %>
    <a href="/customer/list/<%= @offset - @num  %>/<%= @num %>">이전 페이지로</a> |
    <% end %>
    <a href="/customer/list/<%= @offset + @num  %>/<%= @num %>">다음 페이지로</a>
  </body>
</html>
