<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>고객 ID: <%= @customer_id %></title>
  </head>
  <body>
  <h4>고객 정보 표시</h4>
      <label>ID：</label> <%= @customer_id %> <br />
      <label>회사명：</label> <%= @info['company_name'] %> <br />
      <label>성명 ：</label> <%= @info['customer_name'] %> <br />
      <label>메일 주소：</label> <%= @info['customer_email'] %> <br />
  </body>
</html>
